@font-face {
    font-family: 'ElegantType'; /*a name to be used later*/
    src: url('/fonts/et_regular.ttf'); /*URL to font*/
}

html {
    width: 100%;
    height: 100%;
    font-family: 'ElegantType';
    background: #dbdbdb;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

table {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.plan-card a{
    text-decoration: underline;
    color:rgb(56, 58, 145);
}

/*
th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
*/

.title-bar {
    font-size: 40pt;
    color: #424242;

    text-align: center;
    padding: 20px;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid #707070;
}

.plan-board {
    width: 70%;

    margin-left: auto;
    margin-right: auto;

    /*
    border-radius: 10px;
    border: 4px solid black;
    background-color: white;
    */

    overflow-y: auto;

    max-height: 50%;

    padding: 10px;

    opacity: 100%;

    transition-duration: 0.5s;
}

.plan-board.hidden {
    opacity: 0%;
    transition-duration: 0.5s;
}

.header-board {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header-card {
    text-align: left;
    display: flex;
    font-size: 15pt;
    padding-left: 30px;
    padding-right: 30px;
}

.plan-card {
    padding: 30px;
    font-size: 15pt;
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
    display: flex;
    margin-bottom: 2%;
}

.category-bar {
    display: flex;
    align-content: center;
}

.tab-bar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.tab {
    background-color: #aaaaaa;
    border-left: 2px solid #686868;
    border-right: 2px solid #686868;
    border-bottom: 2px solid #686868;
    font-size: 15pt;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    text-transform: uppercase;
}

.tab:hover {
    background-color: #e4e4e4;
}

.tab.active {
    background-color: #292b7c;
    color: white;
    text-decoration: underline;
}

.order-button {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

.order-button:hover {
    background-color: rgb(56, 58, 145);
    color: white;
}

.name-col {
    width: 20%;
}

.contractor-col {
    width: 20%;
}

.bid-col {
    width: 15%;
}

.version-col {
    width: 15%;
}

.preview-col {
    width: 15%;
}

.access-col {
    width: 15%;
}

#search-bar {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 15pt;
}

.order-header {
    width: 50%;

    padding-left: 5%;
    padding-right: 5%;

    margin-left: 20%;
    margin-right: 20%;

    border-bottom: 1px solid rgba(0,0,0,0.6);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}

::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b;
}

#submit-button {
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
}

#submit-button:hover {
    background-color: #292b7c;
    color: white;
}

.return-button {
    width: auto;
    margin-left: 45%;
    margin-right: 45%;
    padding: 10px;

    border-radius: 5px;
    background: white;
}

.return-button:hover {
    background-color: #292b7c;
    color: white;
}

.back-to-plans {
    position: absolute; 
    left: 20%; 
    top: 5%; 
    font-size: 15pt;

    text-decoration: underline;
}

.back-to-plans:hover {
    color:#292b7c;
}